/* Settings for black tiger-page on top of Start page */
#topdiv{
    background-color: rgb(5, 5, 5);
    color: white;
    height: 100vh;
    position: relative;
}

#topdivimage {
    height: 75vh;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

#topdivimage-wrapper {
    margin-top: 8vh;
    margin-bottom: 5vh;
    width: 50vh;
    margin-left: auto;
    margin-right: auto; 
}

.row {
    margin-bottom: 0 !important;
}

.loading-bar {
  height: 0 !important;
}

/* ÄNDRA SELEKTORER 
*/
/* Height and Background colors for frontpage-divs */
.frontpart{ /* All front parts */
    min-height: 100vh;  
}

#front-Courses{
    padding: 4% 7% 4% 7% !important;
    margin-bottom: 0;
    background-color: #d6cec6!important;
    padding: 10% 20% 10% 20%;
}

#front-Presentation {
    background-color: rgb(5, 5, 5);
    color: rgb(255, 123, 0);
    padding: 10% 20% 10% 20%;
}

#front-Galleri {
    background-color: rgb(5, 5, 5);
    background-size: cover;
    color: rgb(255, 123, 0);
  
}



.frontpart:nth-child(3) { /* Part 3: Quotes */
    background-image: url("../images/tiger-eyes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(5, 5, 5);
} 



.page-footer{
    background-color: #d86800!important;
}

h2 { /* Dölj rubriker - endast för dasboard */
    display: none; 
}

/* Meny*/

a:active, a:hover {
    color: rgb(255, 123, 0) !important;
}
 
.brand-logo {
    margin-left: 2%;
}

.dropdown-content {
    min-width: 200px !important;
    color: black;
}

#mainmenu.dropdown-content.active {
    top: 45.8125px !important;
    color: black !important;
}

.dropdown-content li a { /* Länk text på dropdownlänkar i storskärmsmeny */ 
    color: black !important;
}

.nav-wrapper li {
  margin-top: 5%;
}

nav { 
    background-color: rgb(5, 5, 5) !important;
    opacity: 0.90 !important;
}

.nav-wrapper {
    opacity: 0.90;
    
}

.medlogo{
    float:right;
    padding-right: 2%;
}

#mobilediv{
    width: 100%;
    padding-top:2%;
    padding-bottom:4%;
    position: fixed;
    top: 0px;
    background-color: rgb(5, 5, 5);
    opacity: 0.90;
    z-index: 10000;
    display: none;

}
.mobile-logo {
    margin-left: auto;
    margin-right: auto; 
    margin-left: 1%;
}

a.button-collapse {
    padding: 1% 1% 1% 1% !important;
    position: fixed;
    top: 0px;
    left: 0px;


}

.whitetext {
    color: white;
}


#sidenav-overlay{
    background-color: rgba(0, 0, 0, 0.0) !important;
    color: black !important;

}
.navbar-fixed {
    display: none;
}

.side-nav li a{
    z-index: 1111;
}

/* Bilder för kursrutor */

.course  {
    background-image: url("../images/tiger-eyes.jpg") !important;
}


.course .card-action { 
    background-color: black !important;
}

.card-action {
    height: 90px!important;
}

.course a {
    height: 90px!important;
    color: #ffab40 !important;
}

/* För mobil */

@media (max-width: 595px){

    p, li, a { 
        padding: 1% 10% 1% 10% !important;
          }
          
    p {
        margin-bottom: 0 !important;
    }
    .frontpart{ 
               padding: 0;
            }
            
   #front-Courses, .col {
        width: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
       
    }

  

    .copyright {
        text-align: center !important;
}



}